@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7fa;
  --foreground: #101818;
}

[class~="dark"] {
  --background: #181c20;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer components {
  .glass-effect {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }

  .dark .glass-effect {
    @apply bg-black/20 border-white/5 transition-all;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-br from-[#00b9d1] to-[#00d4ff];
  }
}